h1 {
  text-align: center;
}

#container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

#editor {
  width: 550px;
  height:600px;
  border: 1px solid grey;
}

#preview {
  width: 550px;
  height: 600px;
  padding: 6px;
  box-sizing: border-box;
  border: 1px solid grey;
}

#preview > #preview-operator-wrapper {
  width: 100%;
  height: 40px;
}

#preview > #preview-img-wrapper {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 546px;
  overflow: scroll;
}
